CONFIG_MTK_MDP_MTEE_SUPPORT=m
CONFIG_MTK_RECU_FENCE_LOCK=y
CONFIG_MTK_SCP_AUDIO=m

# Himax firmware
CONFIG_EXTRA_FIRMWARE="Himax_firmware.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware-mimir"

CONFIG_ARM64_BTI=y
CONFIG_ARM64_BTI_KERNEL=y

CONFIG_SECURITY_PATH=y

CONFIG_MTK_COMBO_CHIP_CONSYS_6893=n
CONFIG_MTK_COMBO_CHIP_CONSYS_6983=n
CONFIG_MTK_COMBO_CHIP_CONSYS_6879=n
CONFIG_MTK_COMBO_CHIP_CONSYS_6895=n

CONFIG_INTERCONNECT_MTK_MMQOS_MT6983=n
CONFIG_INTERCONNECT_MTK_MMQOS_MT6879=n
CONFIG_INTERCONNECT_MTK_MMQOS_MT6895=n


CONFIG_CGROUP_DEVICE=y

CONFIG_MICROCHIP_PHY=m
CONFIG_USB_CATC=m
CONFIG_USB_KAWETH=m
CONFIG_USB_PEGASUS=m

CONFIG_USB_LAN78XX=m
CONFIG_USB_ALI_M5632=y
CONFIG_USB_AN2720=y
CONFIG_USB_EPSON2888=y
CONFIG_USB_KC2190=y
CONFIG_USB_HSO=m
CONFIG_USB_IPHETH=m
CONFIG_USB_SIERRA_NET=m
CONFIG_USB_VL600=m


CONFIG_DEFAULT_SECURITY_SELINUX=n
