#source "drivers/input/touchscreen/mediatek/hxchipset_spi/Kconfig"
source "drivers/input/touchscreen/mediatek/NT36XXX_SPI/Kconfig"
source "drivers/input/touchscreen/mediatek/gslX680/Kconfig"
source "drivers/input/touchscreen/mediatek/nt36xxx_i2c/Kconfig"
source "drivers/input/touchscreen/mediatek/chipone_tddi/Kconfig"
source "drivers/input/touchscreen/mediatek/ILITEK_V3/Kconfig"
source "drivers/input/touchscreen/mediatek/chipone_tddi_i2c/Kconfig"
source "drivers/input/touchscreen/mediatek/focaltech_touch_i2c_v42/Kconfig"
source "drivers/input/touchscreen/mediatek/focaltech_touch_8205p/Kconfig"
source "drivers/input/touchscreen/mediatek/GT9XX/Kconfig"
source "drivers/input/touchscreen/mediatek/huion_i2c/Kconfig"
source "drivers/input/touchscreen/mediatek/jdchipset_spi/Kconfig"
source "drivers/input/touchscreen/mediatek/focaltech_touch_5726/Kconfig"
source "drivers/input/touchscreen/mediatek/chsc5xxx/Kconfig"
#source "drivers/input/touchscreen/mediatek/hxchipset_83102_iic_1186/Kconfig"
